---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Redirecting...">
  <meta http-equiv="refresh" content="0; url=/about" />
  <script>
    window.location.href = "/about";
  </script>
  <div class="flex min-h-[50vh] items-center justify-center">
    <p>Redirecting to <a href="/about">About</a> page...</p>
  </div>
</Layout>
