---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;
const category = data.category || "life";

const { title, description, ...props } = data;
---

<li class="my-6">
  <a
    href={getPath(id, filePath, true, category)}
    class:list={[
      "group relative inline-block text-xl font-bold text-foreground hover:text-accent",
      "focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent focus-visible:outline-dashed",
    ]}
  >
    <Heading
      class="mb-2"
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
    <span class="absolute bottom-2 left-0 h-0.5 w-1/10 bg-accent transition-[width] duration-300 group-hover:w-3/5"></span>
  </a>
  <Datetime {...props} class="mb-2" />
  <p>{description}</p>
</li>
